.btn span.glyphicon {               
    opacity: 0;             
}
.btn.active span.glyphicon {                
    opacity: 1;             
}

.title {
    color: red;
}

.t1 {
    color: blue;
    font-weight: bold;
}

.t2 a{
    color:white;
}

#glypshow{
    opacity: 1;
}
a{
    text-decoration: none;
}
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color:white;
}
